@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

	#contenedor
		box-shadow  2px 9px 15px #283C48

	#contenedor #oferta
		width 40%

	#contenedor #oferta #qr
		box-shadow  2px 9px 15px #283C48

	#contenedor #datos #mapa .mapa
		border-radius 20px
		box-shadow 3px 5px 15px #283C48