@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

	#contenedor
		box-shadow  2px 9px 15px #283C48

	#contenedor #nota
		display inline-block
		font-size 1.3em
		font-weight normal
		float left
		margin 0.3em
		padding 0.4em
		text-align left
		width 40%

	#contenedor #carta .archivos 
		border-radius 15px

	#contenedor #texto-item  #texto-iten #foto
		border-radius 100px

	#contenedor #pie #enlace .red
		border-radius 8px

	#contenedor #pie  #donde .vamos
		border-radius 8px