body{background:#ccc;font-size:14px;margin:0;text-align:center}
header{background:#fff;display:inline-block;margin:.1em;vertical-align:top;width:99%}
header #logo{display:inline-block;float:left;padding-left:.2em;position:relative;width:85%}
header #logo img{border-top-right-radius:10px;border-top-left-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;display:inline-block;float:left;margin:.3em 0;width:75%}
header #logo #titulo-item{display:block;margin:.4em;padding:.1em;text-align:left;vertical-align:top;width:20%}
header #logo #titulo-item h3{margin:1em;font-family:"Sancreek",Arial;text-align:center;width:96%}
header #avatar{display:inline-block;float:right;margin-top:-17em;position:relative;text-align:left;width:30%}
header #avatar #titulo{font-family:"Sancreek",Arial;font-size:1.7em;float:right;margin:.2em;margin-top:.1em;position:relative;text-align:center;width:100%}
nav{background:#684124;border-bottom:4px solid transparent;border-left:10px solid #fff;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:10px solid #fff;border-top:4px solid transparent;color:#fff;display:inline-block;font-size:1.4em;text-align:left;vertical-align:top;width:97%}
nav ul{list-style:none;margin:0;padding:0 .8em}
nav ul li{display:inline-block;margin:0 1.2em 0 0;vertical-align:top}
nav ul li a{color:#fff;font-weight:normal;display:block;padding:0 0}
nav ul li a:hover{border-bottom:3px solid #0058a5;margin:0;padding:0}
#contenedor{background:#fff;display:inline-block;width:99%}
#contenedor #imagen{box-shadow:0 9px 10px #000;display:inline-block;vertical-align:top;width:100%}
#contenedor #imagen .image{margin:-.2em;padding:0;vertical-align:top;width:25%}
#contenedor #nota{display:inline-block;font-family:"Libre Baskerville",Arial;font-size:1em;font-weight:normal;float:left;margin:1em .2em;padding:.3em .4em;text-align:left;width:50%}
#contenedor #nota h2{font-family:"Sancreek",Arial;font-size:1.3em;font-weight:normal;text-align:center;width:80%}
#contenedor #pie{background:#321600;border-bottom:4px solid transparent;border-left:15px solid transparent;border-top:4px solid #fff;border-bottom:4px solid #fff;border-right:15px solid transparent;border-top:4px solid #fff;color:#fff;display:inline-block;width:90%}
#contenedor #mapa{display:inline-block;float:right;margin:0 .2em;position:relative;top:2em;width:40%}
#contenedor #mapa h3{background:#272727;color:#fff;font-size:1.5em;font-weight:normal;float:right;margin:.2em;padding:.1em;text-align:left;width:95%}
#contenedor #mapa .mapa{border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;width:90%}
#contenedor #item{display:inline-block;float:right;margin:1.9em .6em;position:relative;vertical-align:top;width:20%}
#contenedor #item .logo{display:inline-block;float:right;padding:.9em;width:15%}
#contenedor #item .wasp{border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:10px;border-top-left-radius:10px;margin:.3em;width:7%}
#contenedor #item a{color:#000;font-weight:normal}
#contenedor #item a:hover{font-size:1.3em}
#contenedor #mapa .nota-item{font-size:.9em;font-weight:normal;float:right;margin:.2em .6em;padding:.2em;text-align:left;width:80%}
#contenedor aside{display:block;float:right;margin:2em;position:relative;width:30%}
#contenedor aside h3{background:#272727;color:#fff;font-size:1.5em;font-weight:normal;float:right;margin:.2em;padding:.1em;text-align:left;width:95%}
#contenedor aside a{color:#000;font-size:1em;font-weight:normal;float:right;width:100%}
@media screen and (min-width:768px){body{margin:0 auto;max-width:1200px}
#contenedor{border:2px solid #fff;}
#contenedor #mapa .mapa{border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;box-shadow:2px 5px 10px #a7a793}
#contenedor aside video{border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-top-right-radius:10px;border-top-left-radius:10px}
}