@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

	#contenedor
		border 2px solid white

		#mapa .mapa
			border-top-left-radius 10px
			border-top-right-radius 10px
			border-bottom-right-radius 10px
			border-bottom-left-radius 10px
			box-shadow 2px 5px 10px #A7A793

		aside video
			border-bottom-right-radius 10px
			border-bottom-left-radius 10px
			border-top-right-radius 10px
			border-top-left-radius 10px

		#contenedor aside #enlaces .imagenes
			border-radius 25px

		#contenedor aside #enlaces .imagenes
			-webkit-transition all 1s ease 1s
			-moz-transition all 1s ease 1s
			-o-transition all 1s ease 1s
			transition all 1s ease 1s

		#contenedor aside #enlaces .imagenes:hover
			display inline-block
			border-radius 15px
			margin-left 1.3em
			width 50%

