@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

	#contenedor
		box-shadow  2px 9px 15px #283C48

	#contenedor #texto-item  #texto-iten #foto
		border-radius 100px

	#contenedor #pie #enlace .red
		border-radius 8px

	#contenedor #pie #donde .vamos
		border-radius 8px

	#contenedor #mapa .mapa
		border-radius 15px
		display inline-block