@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

	#contenedor 
		box-shadow 10px 9px 14px #ABAA96

	#contenedor #imagenes .fotos
		border-top-left-radius 14px
		border-top-right-radius 14px
		border-bottom-left-radius 14px
		border-bottom-right-radius 14px
