@media screen and (min-width:768px)
	body	
		margin 0 auto
		max-width 1200px

	#contenedor
		box-shadow 9px 8px 10px #827E6F

	#contenedor #imagen
		box-shadow 0 9px 10px black
		border-radius 10px
		display inline-block
		height auto
		margin 0
		top 0
		vertical-align top
		width 100%

	#contenedor #imagen .image
		border-radius 40%
		display inline-block
		height 150px
		margin 0
		position relative
		top 0
		vertical-align top
		width 99%

	#contenedor #lateral #enlaces .imagenes
			border-radius 25px

	#contenedor #lateral #enlaces .imagenes
		-webkit-transition all 1s ease 1s
		-moz-transition all 1s ease 1s
		-o-transition all 1s ease 1s
		transition all 1s ease 1s

	#contenedor #lateral #enlaces .imagenes:hover
		display inline-block
		border-radius 15px
		margin-left 1.3em
		width 50%

