body
	background #E1C5A7
	font-size 14px
	margin  0px
	text-align  center

header
	background  white
	border-top 2px solid #000000
	border-right 2px solid #000000
	border-left 2px solid #000000
	display  inline-block
	margin 0.1em
	vertical-align top
	width 95%


header #logo
	display inline-block
	padding-left 0.2em
	position relative
	width 85%


header #logo img
	border-top-right-radius 10px
	border-top-left-radius 10px
	border-bottom-right-radius 10px
	border-bottom-left-radius 10px
	display inline-block
	margin 0.3em 0px
	width 100%

header #logo #titulo-item
	display block
	margin 0.2em 
	padding 0.1em 
	text-align center
	vertical-align top
	width 20%

header #logo #titulo-item h3
	margin 1em
	font-family "Sancreek", Arial
	text-align center
	width 96%

header #avatar
	display inline-block
	float right
	margin-top -10em
	position relative
	text-align center
	width 30%

header #avatar #titulo
	font-family "Sancreek", Arial
	font-size 1.7em
	float right
	margin 0.2em
	margin-top 0.1em
	position relative
	text-align center
	width 100%
	

nav
	background #b03537
	border-bottom 4px solid transparent
	border-left 10px solid white
	border-top 4px solid transparent
	border-bottom 4px solid transparent
	border-right 10px solid white
	border-top 4px solid transparent
	color white
	display inline-block
	font-size 1.4em
	text-align left
	vertical-align top
	width 95%

nav ul
	list-style none
	margin 0px
	padding 0 0.8em

nav ul li 
	display inline-block
	margin 0 1.2em 0 0
	vertical-align top

nav ul li a 
	color white
	font-weight normal
	display block
	padding 0 0

nav ul li a:hover
	border-bottom 3px solid #0058A5
	margin 0px
	padding 0px

#contenedor
	background #ffffff
	border-bottom 2px solid #000000
	border-right 2px solid #000000
	border-left 2px solid #000000
	display inline-block
	top 0px
	width 95%

#contenedor #datos
	background #F6F1EE
	display inline-block
	float right
	margin 0.3em
	padding 0.3em
	width 30%

#contenedor #datos #redes
	display inline-block
	width 90%

#contenedor #datos #redes .redes
	border-radius 20px
	padding 0.3em 0.4em
	width 10%

#contenedor #datos #mapa
	display inline-block
	padding 0.5em
	width 80%

#contenedor #datos #mapa h3
	color #B20057
	display inline-block
	font-family "Fascinate Inline", Arial
	font-size 1.2em
	font-weight bold
	width 50%

#contenedor #datos #mapa a:hover
	font-size 1.4em
	font-weight normal

#contenedor #datos #mapa .mapa
	border-bottom-left-radius 5px
	border-top-right-radius 5px
	width 100%

#contenedor #texto-item
	width 100%

#contenedor #texto-item a
	color #B20057
	font-size 1.1em

#contenedor #texto-item a:hover
	font-family "Fascinate Inline", Arial
	font-size 1.5em

#contenedor #texto-item .logo
	border-radius 13px
	margin 0.3em
	width 5%

#contenedor #imagenes
	display inline-block
	float left
	margin 0.4em 4em
	padding 0.1em
	width 60%

#contenedor #imagenes h3
	display inline-block
	font-size 1.4em
	font-family "Allan", Arial
	width 60%

#contenedor #pie 
	background #B03537
	color white
	display inline-block
	width 100%

#contenedor #pie #presentacion
	display inline-block
	text-align left
	vertical-align top
	width 80%

#contenedor #pie #enlace
	display inline-block
	width 40%

#contenedor #pie #donde
	display inline-block
	width 40%

#contenedor #pie #enlace .red
	width 60%

#contenedor #pie #registro
	color width
	float right
	margin 0.3em
	text-align left
	width 50%

#contenedor #pie #registro p 
	font-size 1.2em

#contenedor #pie #registro #src
	display inline-block
	float right
	margin 2em 2em
	margin-top -2em
	width 30%

@import"responsive.styl"