@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

	#contenedor
		box-shadow  2px 9px 15px #283C48

	#contenedor #imagenes
		display inline-block

	#contenedor #imagenes #exterior
		border-bottom-left-radius 15px
		border-top-right-radius 15px

	#contenedor #imagenes #gastronomia
		border-radius 15px

	#contenedor #imagenes #eventos
		border-top-left-radius 15px
		border-bottom-right-radius 15px

	#contenedor #texto-item  #texto-iten #foto
		border-radius 100px

	#contenedor #pie #enlace .red
		border-radius 8px

	#contenedor #pie  #donde .vamos
		border-radius 8px