body
	background #CCCCCC
	font-size 14px
	margin  0px
	text-align  center

header
	background  white
	display  inline-block
	margin 0.1em
	vertical-align top
	width 99%


header #logo
	display inline-block
	float left
	padding-left 0.2em
	position relative
	width 85%


header #logo img
	border-top-right-radius 10px
	border-top-left-radius 10px
	border-bottom-right-radius 10px
	border-bottom-left-radius 10px
	display inline-block
	float left
	margin 0.3em 0px
	width 75%

header #logo #titulo-item
	display block
	margin 0.4em 
	padding 0.1em 
	text-align left
	vertical-align top
	width 20%

header #logo #titulo-item h3
	margin 1em
	font-family "Sancreek", Arial
	text-align center
	width 96%

header #avatar
	display inline-block
	float right
	margin-top -17em
	position relative
	text-align left
	width 30%

header #avatar #titulo
	font-family "Sancreek", Arial
	font-size 1.7em
	float right
	margin 0.2em
	margin-top 0.1em
	position relative
	text-align center
	width 100%
	

nav
	background #684124
	border-bottom 4px solid transparent
	border-left 10px solid white
	border-top 4px solid transparent
	border-bottom 4px solid transparent
	border-right 10px solid white
	border-top 4px solid transparent
	color white
	display inline-block
	font-size 1.4em
	text-align left
	vertical-align top
	width 97%

nav ul
	list-style none
	margin 0px
	padding 0 0.8em

nav ul li 
	display inline-block
	margin 0 1.2em 0 0
	vertical-align top

nav ul li a 
	color white
	font-weight normal
	display block
	padding 0 0

nav ul li a:hover
	border-bottom 3px solid #0058A5
	margin 0px
	padding 0px

#contenedor
	background white
	display inline-block
	width 99%

#contenedor #imagen
	display none

#contenedor h3
	font-size 1.6em
	font-family "Sancreek", Arial
	font-weight normal
	margin 0.4em
	padding 0 0.8em
	text-align left
	width 50%

#contenedor #pdf 
	font-size 1.4em
	font-weight normal
	margin 0.5em 2.3em
	width 50%

#contenedor #pdf .archivos
	vertical-align top
	width 23%

#contenedor #pdf .archivos
	-webkit-transition all 1s ease 1s
	-moz-transition all 1s ease 1s
	-o-transition all 1s ease 1s
	transition all 1s ease 1s

#contenedor #pdf .archivos:hover
	border-radius 20px
	display inline-block
	margin 0.5em 0.4
	opacity 1.0em
	width 40%

#contenedor #pdf #ruta 
	margin 0.5em
	width 60%

#contenedor #pdf #ruta .ruta
	color black
	font-size 1.0em
	font-weight normal

#contenedor #pdf #ruta p 
	text-align left
	font-size 0.6em
	font-weight normal

#contenedor #pdf #ruta .ruta:hover
	font-size 1.2em


#contenedor #lateral
	float right
	margin 0.4em
	position relative
	width 30%

#contenedor #lateral #mapa
	display inline-block
	float right
	width 90%

#contenedor #lateral #mapa .mapa
	width 90%

#contenedor #lateral #item
	display inline-block
	vertical-align top
	width 100%

#contenedor #lateral #item a 
	color black
	font-size 1.3em
	font-weight normal
	padding 0.5em

#contenedor #lateral #item a:hover
	color #318C9F
	font-size 1.6em

#contenedor #lateral #item .logo
	float right
	margin 0.3em 0.4em
	width 30%

#contenedor #lateral #item .wasp
	margin 0.2em
	width 8%

#contenedor #lateral h3
	background black
	color white
	font-family "Sancreek",Arial
	font-size 1.4em
	font-weight normal
	margin 0.2em 0.4em
	padding 0 0.4em
	text-align left
	width 80%

#contenedor #lateral #video
	display inline-block
	margin 0.5em
	width 90%

#contenedor #lateral #video video
	padding 0.3em
	width 99%

#contenedor #lateral #video a 
	font-size 1.3em
	font-weight normal
	color black

#contenedor #lateral #video a:hover 
	color #318C9F
	font-size 1.5em


#contenedor  #pie 
	background #321600
	border-bottom 4px solid transparent
	border-left 15px solid transparent
	border-top 4px solid white
	border-bottom 4px solid white
	border-right 15px solid transparent
	border-top 4px solid white
	color white
	display inline-block
	width 90%

#contenedor #lateral #enlaces
	display inline-block
	width 90%

#contenedor #lateral #enlaces h3
	font-size 0.9em
	font-weight normal
	text-align left

#contenedor #lateral #enlaces .imagenes
	display inline-block
	vertical-align top
	width 13%
		
@import"responsive.styl"