body
	background #CCCCCC
	font-size 14px
	margin  0px
	text-align  center

header
	background  white
	display  inline-block
	margin 0.1em
	vertical-align top
	width 99%

header #logo
	background red
	display inline-block
	float left
	margin 0.3em
	width 50%

header #logo #logo-item
	display inline-block
	padding 0.3em 0.4em
	width 94%
	
nav
	background #684124
	border-bottom 4px solid transparent
	border-left 10px solid white
	border-top 4px solid transparent
	border-bottom 4px solid transparent
	border-right 10px solid white
	border-top 4px solid transparent
	color white
	display inline-block
	font-size 1.4em
	text-align left
	vertical-align top
	width 97%

nav ul
	list-style none
	margin 0px
	padding 0 0.8em

nav ul li 
	display inline-block
	margin 0 1.2em 0 0
	vertical-align top

nav ul li a 
	color white
	font-weight normal
	display block
	padding 0 0

nav ul li a:hover
	border-bottom 3px solid #0058A5
	margin 0px
	padding 0px
