@media screen and (min-width:768px)
	body 
		margin 0 auto
		max-width 1200px

	#contenedor
		box-shadow 7px 1px 10px #909FA7

	#contenedor #informacion #map .map
		border-radius 12px

	#contenedor #imagen
		box-shadow 0 9px 10px black
		border-radius 10px
		display inline-block
		height auto
		margin 0
		top 0
		vertical-align top
		width 100%

	#contenedor #imagen .image
		border-radius 40%
		display inline-block
		height 150px
		margin 0
		position relative
		top 0
		vertical-align top
		width 99%

	#mapa .mapa
		border-radius 10px
		box-shadow 9px 3px 15px #7D7D7D

	#mapa #texto 
		background grey
		border-radius 0 10px
		color white
		float left 
		margin 0.6em 4em
		padding 0 0.3em
		width 90% 

	#contenedor #informacion #enlaces .imagenes
			border-radius 25px

	#contenedor #informacion #enlaces .imagenes
		-webkit-transition all 1s ease 1s
		-moz-transition all 1s ease 1s
		-o-transition all 1s ease 1s
		transition all 1s ease 1s

	#contenedor #informacion #enlaces .imagenes:hover
		display inline-block
		border-radius 15px
		margin-left 1.3em
		width 50%