@media screen and (min-width:768px)
	body 
		margin 0 auto
		max-width 1200px

	#contenedor
		box-shadow 7px 1px 10px #909FA7

	#mapa .mapa
		border-radius 10px
		box-shadow 9px 3px 15px #7D7D7D

	#mapa #texto 
		background grey
		border-radius 0 10px
		color white
		float left 
		margin 0.6em 4em
		padding 0 0.3em
		width 90% 